.intro {
  .profile {
    margin-top: 5rem;
  }

  .name {
    padding-left: 1.5rem;
  }
}

.end {
  .profile {
    margin-bottom: 5rem;

    img {
      border: none;
      background: none;
      margin: 0 1rem 0 1.5rem;
    }
  }
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded {
  border-radius: 100%;
}

.left {
  text-align: left;
}
